html {
    scroll-behavior: smooth;
}

body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

section {
    scroll-margin-top: 80px;
}

h2 {
    font-weight: bold;
    color: #f5b800;
    font-size: 24px;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    z-index: 1000;
    background: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header__logo {
    display: block;
}

.header__nav {
    display: flex;
    gap: 50px;
}

.header__nav a {
    color: #000;
    text-decoration: none;
}
.main-visual {
    position: relative;
}

.main-visual img {
    width: 100%;
    display: block;
}

.main-visual__comments {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin: auto 0;
}

.main-visual__comments h1 {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
}

.main-visual__comments p {
    font-size: 30px;
    color: #ffffff;    
}
.about {
    margin-top: 60px;
    margin-bottom: 60px;
}

.about__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__subtitle {
    margin-bottom: 30px;
}

.about__text {
    text-align: center;
    font-size: 18px;
}

.about__lead {
  margin-bottom: 60px;
}

.about__block {
  margin-bottom: 40px;
  line-height: 1.8;
}

.about__block--last {
  margin-bottom: 80px;
}

.about img {
    width: 100%;
    display: block;
}

.course {
    margin: 60px 0;
}

.course__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course__comments p {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}

.course__items {
    display: flex;
    align-items: center;
}

.course__items + .course__items {
    margin-top: 120px;
}

.course__items > div {
    margin: auto 50px;
}

.course__items > div h3 {
    margin-bottom: 40px;
}

.course__block {
    margin: auto 50px;
    width: 430px;
}

.course__lead {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.course__text {
    font-size: 18px;
    line-height: 1.8;
}
.course__items img,
.course__photo {
    width: 50%;
    display: block;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
}

.news > p {
    margin-top: 30px;
    margin-bottom: 60px;
}

.news__contents {
    /* display: flex; */
    width: 960px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.news__items {
    display: flex;
    flex-direction: column;
}

.news__items p:first-of-type {
    margin-top: 30px;
}

.news__items p + p {
    margin-top: 24px;
}

.news__photo {
    width: 300px;
}

.button {
    display: flex;
    background: #ffd200;
    color: #fff;
    margin-top: 60px;
    width: 300px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.button:hover {
    background: #f5b800;
}

.access {
    margin-top: 60px;
}

.access__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 60px 0; */
}

.access__lead {
    background-color: #FAFAFA;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.access__lead p {
    margin-top: 30px;
}
.access__map {
    width: 100%;
    height: 400px;
    display: block;
}

.access iframe {
    display: block;
}

.access__info  {
    background-color: #FAFAFA;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.access__info div {
    display: grid;
    gap: 50px;
    grid-template-columns: 100px 1fr;
}

.access__info div + div {
    margin-top: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 140px;
}

.contact > p {
    margin-top: 30px;
    margin-bottom: 60px;
}

.contact__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__comments p:nth-child(3) {
    margin-top: 30px;
}

.contact__form {
    width: 640px;
    max-width: 90%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #bfbfbf;
}

.contact__form * {
    box-sizing: border-box;
}

.contact__form button {
    margin-top: 30px;
}

.contact__form > div {
    display: grid;
    grid-template-columns: 240px 400px;
    border-bottom: 1px solid #bfbfbf;
}

.contact__form > div > label,
.contact__label {
    padding: 16px 64px 16px 16px;
    border-right: 1px solid #bfbfbf;
    line-height: 1.5;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form select {
    width: 328px;
    height: 36px;
    margin: 8px 0 8px 8px;
    border: 1px solid #bfbfbf;
}

.contact__form textarea {
    width: 328px;
    height: 108px;
    margin: 8px 0 8px 8px;
    border: 1px solid #bfbfbf;
}

.contact__checkbox {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}

.contact__checkbox label {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0;
    border-right: none;
}

.contact__checkbox input {
    width: 24px;
    height: 24px;
    margin: 0;
}

.contact__submit {
    left: 50%;
    transform: translateX(50%);
    width: 300px;
    height: 60px;
    background: #ffd200;
    color: #fff;
    border: none;
    font-size: 18px;
}

.footer {
    text-align: center;
    color: antiquewhite;
    background-color: #707070;
    padding: 30px 0;
}
